:host {
  display: flex;
  justify-content: center;
  padding: 50px 200px;
  @media screen and (max-width: 667px) {
    padding: 24px;

  }

  .container-table {
    width: 100%;

    .container-table__header {
      display: flex;
      justify-content: right;
      align-items: center;
      margin-bottom: 10px;
      gap: 10px;

      .button__create__new {
        background-color: #ffd740 !important;
        border: 1px solid #ffd740 !important;
        padding: 20px;
        color: #00008b;
        font-size: 16px;
        @media (max-width: 767px) {
          font-size: 12px;
        }
        font-weight: 500;
        opacity: 0.7;
        border-radius: 10px;
      }

      .container__search {
        .form-control {
          height: 45px;
          border-radius: 0.8rem;
          padding-left: 1rem;
          padding-right: 1rem;

          @media (max-width: 767px) {
            font-size: 12.7px;
          }
          &:focus {
            color: #424242;
            background-color: #fff;
            border-color: #ced4da;
            outline: 0;
            box-shadow: unset;
          }
        }
      }
    }

    .container-table__body {
      background-color: #FFFFFF;
      padding: 24px;

      .container__img {
        width: 100px;

        img {
          padding: 10px;
          width: 100%;
          border-radius: 50px;
        }
      }

      .mat-elevation-z8 {
        @media screen and (max-width: 667px) {
          width: 100vh;
        }
      }
    }


    .container-team__name {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 1.5rem;

      .container__item {
        .container-team__logo {
          height: 150px;
          width: 150px;
          margin-bottom: 8px;

          img {
            width: 100%;
          }
        }

        .container-team__name_label {
          font-size: 16px;
          letter-spacing: 1px;
          font-weight: 500;
        }
      }


    }


  }



  .container-table__body {
    overflow-x: auto;
  }


}


