<div class="container-modal">
  <div class="container-modal__information">
    <h3> {{ dataInformation?.title }}</h3>
  </div>
  <div class="container-modal__center">
    <hr/>
  </div>
  <div class="container-modal__button">
    <div class="container-form__body__button__option">
      <button (click)="onNoClick()" class="button__cancel" color="warn"
              mat-flat-button> {{ dataInformation?.buttons?.cancel }}
      </button>
      <button (click)="returnConfirm()" class="button__confirm" color="primary"
              mat-flat-button> {{ dataInformation?.buttons?.confirm }}
      </button>
    </div>
  </div>
</div>
